<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <timoffmax_useless_products>
            <general>
                <enabled>0</enabled>
                <rate>2.0</rate>
            </general>
        </timoffmax_useless_products>
    </default>
</config>
